{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "plane.png": {
        "format": "RGB565"
      },
      "relock.png": {
        "format": "RGB565"
      },
      "rssi.png": {
        "format": "RGB565"
      },
      "state.png": {
        "format": "RGB565"
      },
      "ST_LOGO.png": {
        "format": "RGB565"
      },
      "tchGFX_LOGO.png": {
        "format": "RGB565"
      },
      "about\\about.png": {
        "format": "RGB565"
      },
      "about\\fly.png": {
        "format": "RGB565"
      },
      "about\\sliderBar.png": {
        "format": "RGB565"
      },
      "animate\\arrow1.png": {
        "format": "RGB565"
      },
      "animate\\arrow2.png": {
        "format": "RGB565"
      },
      "animate\\arrow3.png": {
        "format": "RGB565"
      },
      "animate\\battery01.png": {
        "format": "RGB565"
      },
      "animate\\battery02.png": {
        "format": "RGB565"
      },
      "animate\\battery03.png": {
        "format": "RGB565"
      },
      "animate\\battery04.png": {
        "format": "RGB565"
      },
      "animate\\battery05.png": {
        "format": "RGB565"
      },
      "animate\\battery06.png": {
        "format": "RGB565"
      },
      "animate\\battery07.png": {
        "format": "RGB565"
      },
      "animate\\battery08.png": {
        "format": "RGB565"
      },
      "animate\\battery09.png": {
        "format": "RGB565"
      },
      "animate\\battery10.png": {
        "format": "RGB565"
      },
      "animate\\battery11.png": {
        "format": "RGB565"
      },
      "animate\\battery12.png": {
        "format": "RGB565"
      },
      "animate\\battery13.png": {
        "format": "RGB565"
      },
      "animate\\battery14.png": {
        "format": "RGB565"
      },
      "animate\\battery15.png": {
        "format": "RGB565"
      },
      "animate\\battery16.png": {
        "format": "RGB565"
      },
      "animate\\battery17.png": {
        "format": "RGB565"
      },
      "animate\\battery18.png": {
        "format": "RGB565"
      },
      "animate\\battery19.png": {
        "format": "RGB565"
      },
      "animate\\battery20.png": {
        "format": "RGB565"
      },
      "animate\\battery21.png": {
        "format": "RGB565"
      },
      "animate\\wait1.png": {
        "format": "RGB565"
      },
      "animate\\wait2.png": {
        "format": "RGB565"
      },
      "animate\\wait3.png": {
        "format": "RGB565"
      },
      "bat\\bat.png": {
        "format": "RGB565"
      },
      "but\\a1.png": {
        "format": "RGB565"
      },
      "but\\a2.png": {
        "format": "RGB565"
      },
      "but\\a4.png": {
        "format": "RGB565"
      },
      "but\\a5.png": {
        "format": "RGB565"
      },
      "but\\b1.png": {
        "format": "RGB565"
      },
      "but\\b2.png": {
        "format": "RGB565"
      },
      "but\\b5.png": {
        "format": "RGB565"
      },
      "but\\blue1.png": {
        "format": "RGB565"
      },
      "but\\blue2.png": {
        "format": "RGB565"
      },
      "but\\c1.png": {
        "format": "RGB565"
      },
      "but\\red1.png": {
        "format": "RGB565"
      },
      "but\\red2.png": {
        "format": "RGB565"
      },
      "but\\return1.png": {
        "format": "RGB565"
      },
      "but\\return2.png": {
        "format": "RGB565"
      },
      "lock\\glass.png": {
        "format": "RGB565"
      },
      "lock\\glassless.png": {
        "format": "RGB565"
      },
      "lock\\lock.png": {
        "format": "RGB565"
      },
      "start\\monitor.png": {
        "format": "RGB565"
      },
      "__generated\\alternate_theme_images_backgrounds_480x272_gradient_dark.png": {
        "format": "RGB565"
      },
      "__generated\\alternate_theme_images_widgets_gauge_small_backgrounds_active.png": {
        "format": "RGB565"
      },
      "__generated\\alternate_theme_images_widgets_gauge_small_needles_rough.png": {
        "format": "RGB565"
      },
      "__generated\\light_theme_images_widgets_gauge_tiny_backgrounds_active_precision.png": {
        "format": "RGB565"
      },
      "__generated\\light_theme_images_widgets_gauge_tiny_fillers_swoop.png": {
        "format": "RGB565"
      },
      "__generated\\light_theme_images_widgets_gauge_tiny_needles_rough.png": {
        "format": "RGB565"
      }
    },
    "l8_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}